* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

header {
    background-color: rgb(1, 148, 136);
    height: 20vh;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1;
}

ul {
    list-style: none;
}



main {
    background-color: rgb(215, 218, 213);
    margin-top: 20vh;
    height: 80vh;
    position: fixed;
    bottom: 0; left: 0; right: 0;
    z-index: 1;
}

.main-container {
    bottom: 0; left: 0; right: 0;
    position: relative;
    z-index: 2;
    height: 90vh;
    margin-top: -20vh;
}

/* area contatti sinistra */

.aside-area {
    width: 40%;
    background-color: white;
    height: 100%;
}

.aside-area-header,
.main-area-header {
    height: calc(100% / 12);
}

.aside-area-header {
    background-color: rgb(234, 234, 234);
    border-right: solid 1px rgb(214, 214, 214);
}

.name-profile {
    font-size: .8rem;
}

.pic-profile {
    max-width: 2rem;
    object-fit: cover;
    border-radius: 50%;
    height: 100%;
}

.fa-circle-notch,
.fa-message,
.fa-ellipsis-vertical,
.fa-magnifying-glass,
.fa-paperclip {
    color: rgb(177, 177, 177);
}

.aside-area-banner {
    background-color: rgb(157, 215, 249);
    height: calc(100% / 12);
} 

.notification-div-lt i {
    color: rgb(157, 215, 249);
    background-color: white;
    border-radius: 50%;
    padding: .6rem .5rem;
    font-size: 1rem;
    margin-right: .5rem;
}


.notification-div-lt span {
    font-size: .7rem;
}

.notification-div-lt a {
    color: rgb(93, 143, 156);
    font-size: .7rem;
}

.aside-area-search {
    background-color: white;
    height: calc(100% / 15);
} 
/* area messaggi destra */

.main-area {
    width: 60%;
    background-color: aqua;
    height: 100%;
    position: relative;
    z-index: 2;
}

.main-area-header {
    background-color: rgb(234, 234, 234);
    position: absolute;
    z-index: 3;
    top: 0; left: 0; right: 0;
}